rect {
		fill: yellow;
		fill-opacity: 0.2;
		stroke: black;
	}
	
	text {
		text-anchor: middle;
	}
	
	div.center {
		text-align: center;
	}
	
	svg {
		margin-left: auto; 
		margin-right: auto; 
		display: block;
	}
	
	div, h1, h5, h2, text {
	  -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
